* {
margin: 0;
padding: 0;
}

body {
background-image: linear-gradient(100deg, #9896F0, #FBC8D5);
font-family: "Poppins", sans-serif;
}

.navbar {
padding-top: 40px;
padding-left: 35px;
}

#landingPage {
  margin-bottom: 100px;
}

.row {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


footer {
  color: rgb(255, 255, 255);
  font-size: small;
  height: 10vh;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-links a {
text-decoration: none;
color: rgb(0, 0, 0);
padding: 5px;
}

footer .social-links a:hover {
  color: #2f9ee5;
}
